body {
    background: #222222;
    font-family: Tahoma;
}

#wrapper {
    margin-top: 3%;
}

#header {
    align-items: center;
}
#title {
    text-shadow: 1px 0px 40px #FF9718;
	color: #FF9718;
    font-family: "Bookman Old Style";
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
}

div[board] {
    background: #FF9718;
    margin: 2% 0% 2% 0%;
    border-radius: 15px 15px 15px 15px;
}

#board_creator {
    color: #FF9718;
    background: #222;
    border-width: 2px;
    border-color: #FF9718;
    float: right;
}

#board_title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    vertical-align: center;
}

#drop_down_button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

#status_new {
    border-style: dotted;
    margin: 1% 1% 1% 2%;
    text-align: center;
    font-weight: bold;
}

#status_progress, #status_testing {
    border-style: dotted;
    margin: 1% 1% 1% 1%;
    text-align: center;
    font-weight: bold;
}

#status_done {
    border-style: dotted;
    margin: 1% 2% 1% 1%;
    text-align: center;
    font-weight: bold;
}

div[area_new] {
    border-style: dashed;
    margin: 1% 1% 1% 2%;
}

div[area_progress], div[area_testing] {
    border-style: dashed;
    margin: 1% 1% 1% 1%;
}

div[area_done] {
    border-style: dashed;
    margin: 1% 2% 1% 1%;
}

#card {
    background: #5E5E5E;
    margin: 6% 0% 6% 0%;
    border-radius: 4px 10px 4px 10px;
    color: rgb(255, 214, 168);
}