body {
    background: #FFF9EB;
    font-family: Tahoma;
}

#wrapper {
    margin-top: 3%;
}

.board_row {
    background: #979797;
    margin: 2% 0% 2% 0%;
    padding: 1.5% 0% 1.5% 0%;
    border-style: solid;
    border-radius: 15px 15px 0px 0px;
}

#title {
    font-family: "Bookman Old Style";
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px grey;
}

#board_creator {
    float: right;
}

#boards {
    background-color: #FFFBEB;
}

.field {
    background-color: red;
    height: 540px;
}

.status {
    background-color: blue;
    height: 100px;
    margin: 10px 10px 10px 10px;
}

.task_area {
    background-color: orange;
    height: 300px;
    padding: 50px;
    margin: 10px 10px 10px 10px;
    
}


.task {
    background-color: green;
}

.title {
    background: yellow;
    display: inline;
    width: 45%;
    float: left;
}
.new_board_button {
    background: brown;
    display: inline;
    float: right;
    width: 45%;
}
.board {
    margin-top: 20px;
    marker-end: 20px;
    background: #3E3EA7;
    height: 30px;
}
.board_title {
    background: fuchsia;
    display: inline;
    float: left;
    width: 45%;
}
.dropdown_button {
    background: #19D898;
    display: inline;
    float: right;
    width: 45%;
}
.proba {
    color: red;
}