<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body> 
            <div name="new" id="new" class="field">
                
                <div name="status" id="status" class="status"> New </div>
                
                <div name="tasks_area" id="tasks_area" class="task_area"> 
                    <div name="task" class="task"> Task1 </div>
                </div>

            </div>

            <div name="in_progress" id="in_progress" class="field">
                
                <div name="status" id="status" class="status"> In Progress </div>
                
                <div name="tasks_area" id="tasks_area" class="task_area"> 
                    <div name="task" class="task"> Task1 </div>
                </div>

            </div>

            <div name="testing" id="testing" class="field">
                
                <div name="status" id="status" class="status"> Testing </div>
                
                <div name="tasks_area" id="tasks_area" class="task_area"> 
                    <div name="task" class="task"> Task1 </div>
                </div>

            </div>

            <div name="done" id="done" class="field">
                
                <div name="status" id="status" class="status"> Done </div>
                
                <div name="tasks_area" id="tasks_area" class="task_area"> 
                    <div name="task" class="task"> Task1 </div>
                </div>

            </div>
    </body>
</html>
